*{
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
    
}

/*.box{
    border:1px solid black;
}*/
.flex{
    display:flex;
    flex-direction: column;
    max-width: 600px;
    
    margin: auto;
    
}
.flex1{
    display:flex;
    flex-direction: row;
       
}
#id1{
    min-height:50px;   
    margin-bottom: 20px; 
    
}
#id1 div:nth-child(1){
    background-size: cover;
}
#id1 div:nth-child(2){
    
    font-size:40px;
    font-weight:bolder;    
    flex-basis: 500px;
    color: tomato;
    text-shadow: blue;
    margin: auto;
    text-align: center;
    padding-top:10px;
    
}

#id2{
  
   
    
}

#id212{
    background-image: url(https://previews.123rf.com/images/belchonock/belchonock1906/belchonock190603580/124399713-sweet-potato-chips-with-herbs-on-white-background-top-view.jpg);
}
#id211{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/full-frame-shot-of-broccoli-royalty-free-image-571248799-1532377854.jpg);
}
#id21{
    /*min-height: 200px;*/
    background-image: url(https://i.insider.com/5b2172d042e1cc16675f032d?width=750&format=jpeg&auto=webp);
}
#id21,#id211,#id212,#id213{
    color:rgb(255, 251, 254);
    background-size: cover;
    text-align: center;
    overflow: hidden;
    background-repeat: no-repeat;    
    margin: 10px;
    line-height: 20px;

}
#id213{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRAwrebEkgtZMUbAU1FMmPD0zR-lkB5sjk1GnU-BVsDN9iTIDwh&usqp=CAU);
    background-repeat:repeat;
}
#id3{
   
    margin: 10px;
}
#id31{
    grid-area: a;
    
    /*height:300px;*/
    
}
#id31 p::first-letter{
    font-size: 36px;
}
#id32{
    grid-area: b;
    
}
#id32 h1,#id38 h1,#id35 h1{
    color: tomato;
}
#id33{
    grid-area: c;
}
#id34{
    grid-area: d;
   
    
}
#id341{
    width: 150px;
    height:30px;
    border-radius: 10px;
    margin: auto;
    background-color: tomato;
    color: wheat;
    padding-top: 10px;
    text-align: center;
}
#id35{
    grid-area: e;  
    
}
#id36{
    grid-area: f;  
    
}
#id37{
    grid-area: g;  
    
}
#id38{
    grid-area: h;  
    
}
#id39{
    grid-area: i;  
    
}
#id40{
    grid-area: j;  
    
}
#id4{
    min-height: 15%;
}
#id41{
   grid-area: foot1;
  
}
#id42{
    grid-area: foot2;
    
}
#id43{
    grid-area: foot3;
    text-align: center;
}

#id34,#id37,#id40{
    font-size: large; 
   
}

.grid{
    display: grid;
    grid-template-columns: 600px 600px 600px 600px 600px 600px 600px 600px 600px 600px ; 
    grid-template-rows:280px 280px 150px 60px 280px 200px 60px 280px 150px 60px ;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"  ;   
    
    
}
.grid img{
    margin-left: 50px;
}



/*.grid1{
    margin: auto;
    display:grid;
    max-height: 300px;
    
    grid-template-columns: 600px ;
    grid-template-rows: 100px  ;
    grid-template-areas: "foo1"
                          "foot2"
                          "foot3"; 
    
}*/
.grid1,.grid{
   
    grid-gap:10px;
    margin: auto;       
    
}
ul{
    list-style-type: none;
}
left{
    float: left;
}
footer{
    background-image: url(https://image.freepik.com/free-photo/delicious-arrangement-veggies-white-background_23-2148290748.jpg);
    background-size: contain;
    
    font-size: large;
    
}
footer div:nth-child(2),footer div:nth-child(3){
    
    font-weight: bolder;
}
@media only screen and (min-width: 700px)
{
    
    .flex ,.grid{
        max-width: 1200px;
    }
    
   .grid{
       display:grid;
   grid-gap:30px; 
  
   grid-template-columns:auto auto ;
   grid-template-rows: auto auto ;
   grid-template-areas:"a a a "
   "a a a "
                        
   "b c c"
   "d  d d"
  "e  f f"
  "g  g g"
  "h  i i"
   "j  j j";               
                  
                  
           }
    #id31{
        margin-bottom: 30px;
    }
          
}
@media only screen and (min-width: 1200px) {

    .flex,.grid{
    max-width: 1000px;
}
    .grid{
   display:grid;
   grid-gap:30px;
   margin: 50px;
   text-align: left;
   
   grid-template-columns:auto auto;
   grid-template-rows:auto auto;
   grid-template-areas: "a  a a"
                        
   "b c c"
   "d  d d"
  "e  f f"
  "g  g g"
  "h i i"
   "j  j j";   
                     
  float: left;     

}
#id3{
    margin-bottom: 30px;
}
footer{
    
}
}